mjml
    mj-head
        mj-title Annonce Alternance Ref-09 Ecosup Assurance
        mj-font(name='Roboto' href='https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap')/
        mj-raw.
        mj-attributes
            mj-all(font-family='Roboto, Arial, Helvetica, sans-serif')/
            mj-image(padding='0' border='none')/
            mj-spacer(height='10px')/
            mj-button(background-color='#ba4995' font-size='16px' line-height='20px' font-weight='500' text-transform='uppercase' inner-padding='15px 30px' border-radius='10px')/
            mj-class(name='body+' font-size='16px' line-height='22px' font-weight='400' color='#ffffff')/
            mj-class(name='space+' padding-top='0' padding-bottom='0')/
            mj-class(name='body-text' font-size='16px' line-height='22px' font-weight='400' color='#2D3748')/
            mj-class(name='body-space' align='left' padding-top='0' padding-bottom='0')/
            mj-class(name='footer-text' font-size='12px' line-height='16px' font-weight='400' color='#2D3748')/
            mj-class(name='footer-space' align='center' padding-top='0' padding-bottom='0')/
        mj-breakpoint(width='550px')/
        mj-style.
            .hover:hover td, .hover:hover a{
                background-color: #684092 !important;
            }
    mj-body(background-color='#edf2f7')
        //- bandeau logo ESA
        mj-section(background-color='#4A5568' padding='0')
            mj-group(width='480px')
                mj-column(width='30%' padding='8px')
                    mj-image(src='https://i.ibb.co/xYKFMzh/logoESA.jpg' width='50px' align='right' alt='Logo ESA de Paris')/
                mj-column(width='70%' padding='8px') 
                    mj-text(padding='0' font-size='16px' line-height='20px' font-weight='300' color='#ffffff') Ecosup Assurance partenaire de l'ESA Paris #[em (École Supérieure d'Assurance)]
        //- logo Ecosup Assurance
        mj-section(background-color='#ffffff' padding-bottom='0')
            mj-column(width='250px')
                mj-image(src='https://img.mailinblue.com/3403292/images/content_library/original/6631e75e524b5b6d34b88b1b.png' alt='Logo Ecosup Assurance')/
        //- introduction à l'annonce et titre de l'annonce
        mj-section(background-color='#ffffff' padding-bottom='0')
            mj-column(width='500px')
                mj-text(font-size='16px' font-weight='300' line-height='20px' color='#2D3748') #[strong {{contact.PRENOM}}] cette annonce correspond à votre recherche d'une alternance dans les métiers de l'assurance et de la banque.
                mj-text(align='center' font-size='16px' font-weight='900' line-height='20px' color='#684092' text-transform='uppercase' padding-top='0' padding-bottom='0')  #[span(style='color:#D30000;') Nouveau] Poste à Pourvoir
                mj-text( align='center' font-size='38px' font-weight='300' line-height='42px' color='#684092') Gestionnaire en Assurance (Garantie Obsèques)
        //- Entreprise Lieu Durée
        mj-section(background-color='#ffffff' padding='0')
            mj-column(width="50px")
                mj-image(padding='10px 0' alt='icon Entreprise' src='https://i.ibb.co/xD5xk3d/icon-Entreprise.png' )
            mj-column(width='450px')
                mj-text(mj-class='body-text body-space') #[strong(style='color:#684092;text-transform:uppercase;') Entreprise :] Groupe international et indépendant, qui crée et gère des solutions innovantes en assurances de personnes pour les particuliers, les professionnels et les entreprises.
                mj-spacer
                mj-text(mj-class='body-text body-space') #[strong(style='color:#684092;text-transform:uppercase;') Lieu :] Villeneuve d'Ascq
                mj-spacer
                mj-text(mj-class='body-text body-space') #[strong(style='color:#684092;text-transform:uppercase;') Durée :] 12 mois
                mj-spacer
        //- Mission
        mj-section(background-color='#ffffff' padding-top='0')
            mj-column(width="50px")
                mj-image(alt='icon Entreprise' padding='10px 0' src='https://i.ibb.co/frZ2HWT/icon-Mission.png' )
            mj-column(width='450px')
                mj-text(mj-class='body-text body-space') #[strong(style='color:#684092;text-transform:uppercase;') Mission :]
                mj-text(mj-class='body-text body-space') - J'établis et je suis les #[strong appels de cotisations],
                mj-text(mj-class='body-text body-space') - Je gère la #[strong DSN],
                mj-text(mj-class='body-text body-space') - J'assure la #[strong gestion administrative des dossiers des clients] (salariés des entreprises et contrats individuels),
                mj-text(mj-class='body-text body-space') - Je réalise des #[strong mouvements contractuels] indviduels et collectifs,
                mj-text(mj-class='body-text body-space') - J'enregistre et je saisis des #[strong adhésions individuelles] et des #[strong radiations],
                mj-text(mj-class='body-text body-space') - Je prends en charge et j'assure le #[strong réglement de décès],
                mj-text(mj-class='body-text body-space') - Je prends également en charge les #[strong relations avec les clients] en les conseillant sur les garanties et la gestion de leur contrat.
        //- Button
        mj-section(background-color='#ffffff' padding-top='0')
            mj-column(width='500px')
                mj-button(css-class='hover' href='https://ecosup-assurance.fr/gestionnaire-assurance-garantie-obseques') Postuler Maintenant
        //- Les Plus
        mj-section(background-color='#8b5fb9')
            mj-column(width='50px')
                mj-image(al='icon Plus' padding='10px 0' src="https://i.ibb.co/ZKzFmbq/icon-Plus-Blanc.png")
            mj-column(width='450px' background-color="#8b5fb9")
                mj-text(font-size='16px' font-weight='900' line-height='22px' color="#ffffff" text-transform='uppercase') Les + plus du poste
                mj-text(mj-class='body+ space+') - Un environnement de #[strong travail international] et multiculturel,
                mj-text(mj-class='body+ space+') - Une ambiance de travail professionnelle mais surtout conviviale et bienveillante,
                mj-text(mj-class='body+ space+') - Un accès libre à une plateforme e-learning avec un large choix de formations,
                mj-text(mj-class='body+ space+') - Le remboursement des #[strong transports à 75 %],
                mj-text(mj-class='body+ space+') - La prise en charge des #[strong frais de repas à 50 %],
                mj-text(mj-class='body+ space+') - Une #[strong mutuelle 100 % gratuite],
                mj-text(mj-class='body+ space+') - Des réductions sur des activités loisirs négociées par notre Comité social et économique (CSE),
                mj-text(mj-class='body+' padding-top='0' padding-bottom='25px') - Une #[strong rémunération avantageuse basée sur le SMC] (Salaire Minimum Conventionnel) et non le SMIC.
        //- logo Entreprise
        mj-section(background-color='#edf2f7')
            mj-column(width='518px' padding="8px")
                mj-text(padding='0' font-size='16px' font-weight='900' line-height='20px' text-transform='uppercase' color='#4A5568') Nos entreprises partenaires
            mj-group(width='518px')
                mj-column(width='86px' padding='8px')
                    mj-image(alt='logo Allianz' src='https://i.ibb.co/mcbYWCB/G-Allianz.jpg')/
                mj-column(width='86px' padding='8px')
                    mj-image(alt='logo Groupe Henner' src='https://i.ibb.co/tXkd5WQ/G-HENNER.jpg')/
                mj-column(width='87px' padding='8px')
                    mj-image(alt='logo SwissLife' src='https://i.ibb.co/sjtrmH8/GG-Swiss-Life.jpg')/
                mj-column(width='87px' padding='8px')
                    mj-image(alt='logo Groupe SMA' src='https://i.ibb.co/NghZ413/GG-SMA.jpg')/
                mj-column(width='86px' padding='8px')
                    mj-image(alt='logo AXA France' src='https://i.ibb.co/9V7ywWW/G-AXA1.jpg')/
                mj-column(width='86px' padding='8px')
                    mj-image(alt='logo Crédit Agricole' src='https://i.ibb.co/NZPRJtt/G-Credit-Agricole.jpg')/
        //- footer / réseaux sociaux
        mj-section
            mj-column(width='380px')
                mj-social(inner-padding='0 15px' icon-size='25px' mode='horizontal')
                    mj-social-element(alt='icon Linkedin' src='https://img.mailinblue.com/3403292/images/content_library/original/660d6047d0d41f3120a8cdec.png' href='https://fr.linkedin.com/company/ecosup-campus')
                    mj-social-element(alt='icon Facebook' src='https://img.mailinblue.com/3403292/images/content_library/original/660d604fd0d41f3120a8cdf5.png' href='https://www.facebook.com/EcosupAssurance')
                    mj-social-element(alt='icon Instagram' src='https://img.mailinblue.com/3403292/images/content_library/original/660d605a373b24d832a3970d.png' href='https://www.instagram.com/ecosup.campus')
                    mj-social-element(alt='icon Youtube' src='https://img.mailinblue.com/3403292/images/content_library/original/660d60657236a3846ef846ba.png' href='https://www.youtube.com/@EcoSupAssurance')
        //- footer / adresse
        mj-section(padding-bottom='0')
            mj-column(width='235px')
                mj-image(width='120px' alt='logo Ecosup-Campus' src='https://img.mailinblue.com/3403292/images/content_library/original/660d606e373b24d832a39719.png')/
                mj-text(mj-class='footer-text footer-space') 17 place Charles et Albert Roussel
                mj-text(mj-class='footer-text footer-space' text-transform='uppercase') Tourcoing 
        //- footer / réglements
        mj-section
            mj-column(width='380px')
                mj-text(mj-class='footer-text footer-space') Pour être sûr(e) de recevoir nos communications, ajoutez #[a(style='text-decoration:none;color:#BA4995' href='mailto:contact@ecosup-campus.fr') contact@ecosup-campus.fr] dans votre carnet d'adresses.
                mj-text(mj-class='footer-text footer-space'): a(style='text-decoration:none;color:#BA4995;' href='{{ mirror }}') Afficher dans votre navigateur web
                mj-text(mj-class='footer-text footer-space' text-transform='uppercase'): a(style='text-decoration:none;color:#ba4995;' href='{{ unsubscribe }}') se désinscrire
                mj-spacer(height='30px')