mjml
    mj-body(background-color='#edf2f7')
    mj-section(background-color='#4A5568')
        mj-group
            mj-column
                mj-image(href='' width='')
            mj-column
                mj-text(font-size='16px' line-height='20px' ) Ecosup Assurance partenaire de l'ESA Paris (École Supérieure d'Assurance)edf2